/* Footer.css */

.footer {
    background-color: black;
    color: #fff;
    position: sticky;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
  }
  
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
  }

  .links{
    display: flex;
    justify-content: center;
  }
  .footer-links {
    list-style-type: none;
    display: flex;
    column-gap: 20px;
    padding: 0;
 
  }
  
  .footer-links li {
    display: inline;
 
  }
  
  
  .footer-links li a {
    text-decoration: none;
    color: #242bf6;
    transition: color 0.3s ease;
    margin: 0;
  }
  
  .footer-links li a:hover {
    color: #ffcc00;
  }
@media screen and (max-width: 768px){

  .footer-links li a{
    font-size: 12px;
  }
}