
.home-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    align-items: center;
    row-gap: 5vh;
}
.home-content{
    width: 90%;
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin-top: 20px;
    
}
.home-para{
    color: white;
    width: 30%;
    word-wrap: break-word;
}

.home-content img{
    width: 40%;
    border: 1px solid white;
    border-radius: 10px;
}

.AdditionalInfo{
    color: white;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
}
.info h3{
    color: yellow;
    font-weight: bolder;
}
@media screen and (max-width: 768px) {
    .home-container{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
        height: 100%;
        width: 100%;

    }
    .home-para{
        color: white;
        width: 80%;
        word-wrap: break-word;
        text-align: center;
    }
    .home-content img{
        width: 80%;
    }
    .AdditionalInfo{
        flex-direction: column;
        align-items: center;
    }
    .info{
        width: 80%;
    }
}