
.home-container{
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    flex-wrap: wrap;
}
.home-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 2%;
    padding: 20px;
    margin-bottom: 2%;
    height: 30vh;
}

.home-image{
    width: 45%;
}
@media screen and (max-width: 768px) {
    .home-container{
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
    }
    .home-content{
        height: 100%;
        width: 80vw;
    }
}